<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory> 
    
	<property name="hbm2ddl.auto">update</property>
	<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
	<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/prominent</property>
	<property name="hibernate.connection.username">root</property>
	<property name="hibernate.connection.password"></property>
	<property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
	
	
	<property name="hibernate.show_sql">true</property>
	<property name="hibernate.format_sql">false</property>
	
	<property name="hibernate.c3p0.min_size">5</property>
	  <property name="hibernate.c3p0.max_size">10</property>
	  <property name="hibernate.c3p0.timeout">3000</property>
	  <property name="hibernate.c3p0.max_statements">20</property>
	  <property name="hibernate.c3p0.idle_test_period">100</property>
	 
	 
	<mapping class="com.prominent.dto.EmployeeMaster" />
	<mapping class="com.prominent.dto.Education" />
	<mapping class="com.prominent.dto.Email"/>
	<mapping class="com.prominent.dto.Experience"/>
	<mapping class="com.prominent.dto.Profile"/>
	<mapping class="com.prominent.dto.Company"/>
	<mapping class="com.prominent.dto.Location"/>
	<mapping class="com.prominent.dto.Title"/>
	<mapping class="com.prominent.dto.VersionStatus"/>
</session-factory>
</hibernate-configuration>        